$orderButtonColor: #FF7956;
$greenColor: #406440;
$lightGreenColor: #EAF6E4;
$darkGreyColor: #F8F8FA;
$item-background: #F7FBF4;
$lightBlackColor: #333333;
$blackTitleColor: #222726;

$blackTextColor: #616B84;
$greyTextColor: #616B84;
$greyColor: #616B84;
$lightGray: #9AAC9A;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1366px;
$breakpoint-extra-large-desktop: 1920px;
