.about-section {
  position: relative;
  margin-bottom: 110px;
  min-height: 790px;

  .section-icon {
    margin: 100px 0 50px;
  }

  @include tablet {
    height: auto;
    .section-icon {
      margin: 120px 0 90px;
    }

    .section-text {
      width: 440px;
      margin: 0 auto;

      br {
        display: none;
      }
    }
  }

  @include has-text-underline {
    background-size: 80%;
  }

  .content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .about-section-content {
      width: 100%;
    }
  }


  &-background {

    margin-top: 57px;
    height: 200px;
    width: 240px;

    @include desktop {
      width: 290px;
    }
  }

  &-background-left {
    top: 240px;
    position: absolute;
    left: -35px;
    width: 240px;
    order: 2;
    background: url("../images/about-section/left-bg.png") no-repeat;
    background-size: 240px;

    @include tablet {
      position: relative;
      width: 50%;
      left: 0;
    }

    @include desktop {
      left: 0;
    }
  }

  &-background-right {
    top: 320px;
    position: absolute;
    right: -35px;
    width: 240px;
    order: 3;
    background: url("../images/about-section/right-bg.png") no-repeat;
    background-size: 270px;

    @include tablet {
      position: relative;
      width: 50%;
      right: 0;
    }

    @include desktop {
      right: 0;
      top: 0;
    }
  }
}