.advantages-section {
  color: white;
  text-align: center;
  background: $greenColor;
  padding: 60px 0 100px;

  @include tablet {
    padding-top: 70px;
    padding-bottom: 60px;

    .section-title {
      br {
        display: none;
      }

      .has-text-shining:first-child:after {
        content: '';
        display: none;
      }
    }
  }

  @include has-test-shining {
    top: -22px;
    background-size: 70%;
  }

  @include has-text-underline {
    background-size: 80%;
  }

  .advantages-list {
    text-align: center;
    font-size: 14px;
    line-height: 36px;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      margin-top: 64px;
      text-align: center;

      @include tablet {
        width: 491px;
        margin: 60px auto 0;
      }

      @include large-desktop {
        width: 350px;
      }

      &-image {
        width: 110px;
        height: 110px;
      }

      &-title {
        margin: 0 auto;
        width: 260px;
        font-size: 20px;
      }

    }

  }
}