body {
  color: $commonTextColor;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;

  @include tablet {
    font-size: 16px;
  }

  @include extra-large-desktop {
    font-size: 18px;
  }
}

.order-link {
  font-weight: 600;
  display: inline-block;
  background: $orderButtonColor;
  color: white;
  border-radius: 10px;
  padding: 19px 59px;
  border: none;
  text-decoration: none;

  &:hover {
    background: $orderButtonColorHover;
  }
}

.link {
  color: $greyColor;
}