.feedback-section {
  .section-icon {
    margin: 80px 0 50px;
  }

  .section-title {
    @include tablet {
      br {
        display: none;
      }
    }
  }

  @include tablet {
    @include has-test-shining {
      display: none;
    }
  }

  @include has-text-underline {
    background-size: 70%;
    left: -20px;

    @include tablet {
      background-size: 90%;
    }
  }

  .section-text {
    text-align: center;
    margin-top: 40px;

    br {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  .feedback-form {
    @include desktop() {
      margin: 0 auto;
      width: 740px;
      display: flex;
      flex-direction: column;

      .input-container {
        justify-content: space-between;
        display: flex;

        .input-wrapper {
          width: 350px;
        }
      }

    }


    label {
      color: $lightBlackColor;
      display: block;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
    }

    input, textarea {
      color: $greyColor;
      box-sizing: border-box;
      display: block;
      margin-top: 16px;
      padding: 16px 20px;
      width: 100%;
      background: $darkGreyColor;
      border: 0;
      border-radius: 6px;
    }

    textarea {
      height: 195px;
    }

    input[type='button'] {
      font-weight: 600;
      margin: 40px auto 72px;
      width: 260px;
      color: white;
      background: $orderButtonColor;
    }
  }
}