.header {
  position: fixed;
  width: 100%;
  padding: 12px;
  font-family: 'Circle Thin Font', sans-serif;
  background: $greenColor;
  z-index: $header-z-index;
  border-bottom: 1px solid rgba(154, 172, 154, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 12px 54px;
  }

  @include large-desktop {
    padding: 12px 130px;
  }

  @include extra-large-desktop {
    padding: 12px 200px;
  }

  ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    color: white;

    #close-mobile-header {
      display: none;
    }

    .desktop-menu-link {
      display: none;

      @include desktop {
        display: block;
      }
    }

    &.open-navigation {
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100vh;

      .desktop-menu-link {
        display: block;
      }

      #close-mobile-header {
        display: block;
      }

      li:not(:first-child) {
        margin-top: 40px;
      }

      .logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .menu-icon {
        display: none;
      }
    }

    li {
      cursor: pointer;
      margin-right: 40px;

      .header-logo {
        width: 80px;

        @include tablet {
          width: 110px;
        }
      }

      .order-link {
        padding: 9px 30px;
        margin-right: 12px;

        &:hover {
          text-decoration: none;
        }
      }

      a {
        text-decoration: none;
        color: white;

        &:hover {
          text-decoration: underline;
        }
      }

      .menu-icon {
        margin-left: 2px;
        width: 30px;
        height: 30px;

        @include tablet {
          margin-left: 30px;
        }

        @include desktop {
          display: none;
        }
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-right: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}