@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content
  }
}

@mixin large-desktop {
  @media (min-width: $breakpoint-large-desktop) {
    @content
  }
}

@mixin extra-large-desktop {
  @media (min-width: $breakpoint-extra-large-desktop) {
    @content
  }
}

.has-text-align-center {
  text-align: center;
}

.has-align-center {
  display: flex;
  align-items: center;
}