.instagram-section {
  position: relative;
  background: $greenColor;
  color: white;

  .section-title {
    margin-top: 105px;

    @include tablet {
      font-size: 43px;

      br {
        display: none;
      }
    }

    .has-text-shining:last-child:after {
      display: none;
    }

    @include tablet {
      .has-text-shining:first-child:after {
        display: none;
      }

      .has-text-shining:last-child:after {
        display: block;
      }
    }

    @include desktop {
      .has-text-shining:first-child:after {
        display: none;
      }
    }
  }

  .green-leaf {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -90px;
    top: 180px;
    z-index: 1000;
    background: url("../images/green-leaf.png") no-repeat;
    background-size: 90%;

    @include tablet {
      top: 210px;
      left: 0;
    }

    @include desktop {
      top: 70px;
    }

    @include large-desktop {
      height: 250px;
      top: 100px;
      background-size: 110%;
    }

  }

  @include has-test-shining {
    right: -30px;
    top: -30px;
    background-size: 60%;

    @include tablet {
      right: -50px;
      background-size: 100%;
    }
  }

  @include has-text-underline {
    background-size: 90%;
  }

  .insta-link-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 18px;
    }

    a {
      margin-left: 12px;
      display: inline
    }
  }

  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1000px;
    margin: 68px 0 90px;

    img {
      margin-bottom: 20px;
      margin-right: 15px;
      width: 185px;
    }

    @include tablet {
      justify-content: space-between;

      width: 440px;
      margin: 68px auto 90px;

      img {
        width: 207px;
        margin-right: 0;
      }
    }

    @include desktop {
      width: 100%;
    }

    @include large-desktop {
      width: 1100px;

      img {
        width: 250px;
      }
    }

    @include extra-large-desktop {
      width: 1420px;

      img {
        width: 320px;
      }
    }
  }
}