.price-section {
  .section-icon {
    margin: 56px 0 54px;
  }

  @include has-text-underline {
    left: -12px;
    background-size: 70%;
  }

  .green-leaf {
    position: absolute;
    width: 165px;
    height: 205px;
    left: -24px;
    background: url("../images/green-leaf.png");
  }

  .price-list {
    margin-top: 65px;

    @include desktop {
      display: flex;
    }

    &__item {
      margin: 20px auto;
      width: 340px;
      border: 1px solid rgba(192, 196, 206, 0.5);
      box-sizing: border-box;
      padding: 20px;
      border-radius: 20px;
      text-align: center;

      @include tablet {
        width: 400px;
      }

      @include desktop {
        width: 290px;
        padding: 20px 16px 46px;
      }

      @include large-desktop {
        width: 360px;
      }

      @include extra-large-desktop {
        width: 468px;
        padding: 20px 40px 46px;
      }

      &.expanded {
        .price-list__item-compound img {
          transform: rotate(180deg);
        }

        .price-list__item-detailed-description {
          display: block;
        }

      }

      .price-list__old_item-price {
        text-align: right;
        color: $greyColor;
        text-decoration: line-through;
      }

      .price-list__item-detailed-description {
        display: none;
        color: $greyColor;
        text-align: left;
        margin-bottom: 12px;

        li {
          margin-top: 10px
        }
      }

      .divider {
        width: 288px;
        margin: 0 auto;
        border-bottom: 1px dashed rgba(192, 196, 206, 0.5);

        @include desktop {
          width: 100%;
        }
      }

      &-compound {
        font-weight: 600;
        line-height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: $greenColor;
        cursor: pointer;

        span {
          margin-right: 15px;
          line-height: 50px;
        }

        img {
          height: 20px;
        }
      }

      &-image {
        width: 230px;
        height: 235px;
      }

      &-name {
        font-size: 18px;

        @include tablet {
          font-size: 20px;
        }
      }

      &-description {
        width: 100%;
        margin: 0 auto;
        line-height: 30px;
        color: $greyColor;

        @include desktop {
          width: 100%;
        }
      }

      &-price {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .price {
          color: $greenColor;
        }

        p {
          margin-bottom: 0;
        }
      }

      .order-link {
        margin-top: 24px;
        font-size: 16px;

        @include extra-large-desktop {
          font-size: 18px;
        }
      }
    }
  }
}