.product-description-section {
  margin-top: 110px;
  background: $greenColor;
  padding: 0 0 100px 0;
  color: white;

  @include desktop {
    padding-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
  }

  @include large-desktop {
    justify-content: space-between;
  }

  .product-description-content-section {
    @include desktop {
      padding-bottom: 75px;
    }

    @include large-desktop {
      margin-left: 130px;
      padding-right: 0;
      padding-left: 0;
    }

    .section-title {
      margin-top: 87px;

      @include tablet {
        text-align: left;
      }

      @include desktop {
        margin-top: 100px;
      }
    }
  }

  .product-description-section-background {
    background: url("../images/product-description-section/sm-image.png") no-repeat;
    height: 414px;
    width: 100%;
    background-size: cover;

    @include tablet {
      background: url("../images/product-description-section/product-description-section-bg.png") no-repeat;
      height: 316px;
    }

    @include desktop {
      justify-content: stretch;
      width: 465px !important;
      height: inherit;
      background: url("../images/product-description-section/bg-image-long.png") no-repeat;
      background-size: cover;
    }

    @include extra-large-desktop {
      width: 725px !important;
    }
  }

  @include has-test-shining {
    background-size: 80%;
    top: -30px;
  }

  @include has-text-underline();

  .product-description-list {
    margin-top: 67px;

    &__item {
      position: relative;
      margin-top: 20px;
      line-height: 30px;
      padding-left: 40px;

      @include tablet {
        width: 380px;
      }

      @include desktop {
        width: 500px;
      }

      &:before {
        background: url("../images/check-circle-1.svg");
        top: 3px;
        left: 4px;
        position: absolute;
        display: inline-block;
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }

  .order-link {
    margin-top: 50px;
  }

}