.recommendations-section {
  .section-icon {
    margin: 110px 0 50px;

    @include tablet {
      margin: 120px 0 110px;
    }

    @include desktop {
      margin: 120px 0 90px;
    }
  }

  @include tablet {
    .section-title {
      span {
        display: block;
        margin: 0;
      }

      br {
        display: none;
      }
    }

  }

  @include desktop {
    .section-title {
      span {
        display: inline;
      }
    }
  }

  @include has-test-shining {
    background-size: 80%;
    top: -30px;
    right: -40px;
  }

  @include has-text-underline();

  .recommendations-list {
    margin-top: 85px;

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__item {
      margin: 0 auto 20px;
      border-radius: 10px;
      padding: 54px 24px;
      background: $item-background;

      @include tablet {
        padding: 70px 56px;
      }

      @include desktop {
        width: 430px;
        padding: 50px 30px;
        box-sizing: border-box;
      }


      @include large-desktop {
        width: 535px;
        padding: 50px 70px;
      }

      p {
        margin: 0;
        font-size: 14px;
        line-height: 30px;
        color: $greyTextColor;

        b {
          display: block;
        }


        @include tablet {
          font-size: 16px;

          b {
            margin-top: 20px;
          }
        }
      }
    }
  }
}