@import "helpers";

@mixin title {
  font-family: Circe, sans-serif;
  font-weight: 600;

  i {
    font-style: normal !important;
  }
}

.section {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 16px;

  @include tablet {
    padding: 0 48px;
  }

  @include large-desktop {
    padding: 0 130px;
  }

  @include extra-large-desktop {
    padding: 0 200px;
  }
}

.section-main-title {
  @include title;

  font-size: 45px;
  line-height: 66px;
}

.section-title {
  @include title;

  font-size: 36px;
  line-height: 53px;
  text-align: center;

  @include tablet {
    font-size: 48px;
  }

  @include extra-large-desktop {
    font-size: 64px;
  }
}

.section-subtitle {
  font-size: 20px;
}

.section-icon {
  width: 100%;
  height: 64px;
  background: url("../images/section-icon.png") no-repeat center;
  background-size: contain;
}

.section-text {
  text-align: center;
  color: $greyTextColor;
}

.section-link {
  color: white;
}