.welcome-section {
  color: white;
  padding-bottom: 66px;
  display: flex;
  background: $greenColor url('../images/welcome-section/hand-small-screen.png') no-repeat bottom right;
  padding-top: 80px;
  min-height: 1060px;

  @include tablet {
    min-height: 720px;
    height: 720px;
  }

  @include desktop {
    background-size: 370px;
  }

  @include large-desktop {
    min-height: 780px;
    height: 780px;
    background: $greenColor url("../images/welcome-section/hand-large.svg") no-repeat bottom right;
  }

  .welcome-content {
    .section-main-title {
      font-weight: 700;
      margin: 76px 0 0;
      text-align: left;

      span {
        display: block;
      }

      @include has-text-underline {
        background-size: 80%;
      }

      @include tablet {
        margin-top: 170px;

        .has-test-shining:first-child:after {
          content: '';
          display: none;
        }

        br {
          display: none
        }
      }

      @include desktop() {
        width: 568px;
      }

      @include extra-large-desktop {
        width: 758px;
      }
    }

    @include has-test-shining {
      width: 47px;
      height: 51px;
    }

    .welcome-section-text {
      margin-top: 28px;
      font-size: 16px;

      br {
        display: none;
        @include tablet {
          display: block;
        }
      }

      @include large-desktop {
        font-size: 18px;
      }

      @include extra-large-desktop {
        font-size: 22px;
      }
    }

    .order-link {
      font-size: 16px;
      font-weight: 600;
      margin-top: 55px;

      @include extra-large-desktop {
        font-size: 18px;
      }
    }
  }
}