.welcome-section {
  color: white;
  padding-bottom: 66px;
  display: flex;
  background: $greenColor url('../images/welcome-section/hand-small-screen.png') no-repeat bottom right;
  padding-top: 80px;
  min-height: 1060px;

  @include tablet {
    min-height: 620px;
    height: 620px;
  }

  @include large-desktop {
    min-height: 780px;
    height: 780px;
    background: $greenColor url("../images/welcome-section/full-desctop-hand.png") no-repeat bottom right;
  }

  .welcome-content {
    .section-main-title {
      font-size: 36px;
      margin: 76px 0 0;
      text-align: left;

      span {
        display: block;
      }

      @include tablet {
        font-size: 45px;

        .has-test-shining:first-child:after {
          content: '';
          display: none;
        }

        br {
          display: none
        }
      }

      @include desktop() {
        width: 568px;
      }
    }

    @include has-test-shining {
      top: -35px;
      right: -40px;
    }

    @include has-text-underline {
      background-size: 80%;
      bottom: -20px;
    }

    .welcome-section-text {
      margin-top: 28px;
      font-size: 16px;

      br {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }

    .order-link {
      font-size: 16px;
      font-weight: 600;
      margin-top: 55px
    }
  }
}