.welcome-section {
  background-color: $greenColor;
  color: white;
  padding-bottom: 66px;

  .section-main-title {
    margin: 76px 0 0;
    text-align: left;

    span {
      display: block;
    }

    @include desktop() {
      width: 568px;

      br {
        display: none
      }
    }
  }


  @include has-test-shining {
    top: -28px;
    right: -28px;
  }

  @include has-text-underline {
    background-size: 80%;
    bottom: -20px;
  }

  .welcome-section-text {
    margin-top: 28px;
    font-size: 16px;

    br {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }

  .order-link {
    font-size: 16px;
    font-weight: 600;
    margin-top: 55px
  }

  .background-wrapper {
    height: 415px;
    position: relative;

    .welcome-section-background {
      float: right;
      z-index: 1000;
      position: absolute;
      right: -30px;
      width: 400px;
      height: 415px;
      background: url('../images/welcome-section-background.svg') no-repeat right;
    }

    @include tablet {
      height: 135px;

      .welcome-section-background {
        top: -250px;
        right: -48px;
      }
    }
  }


}