@import "../variables";
@import "../mixins";


.about-section {
  color: $blackTitleColor;
  margin-bottom: 109px;

  .section-icon {
    margin: 100px 0 50px;
  }

  @include has-text-underline {
    background-size: 80%;
  }

  &-background {
    position: relative;
    width: 100%;
    max-width: 410px;
    margin: 27px auto 0;
    height: 300px;
    background: url("../../assets/common/blob.png") no-repeat center;

    &-left {
      position: absolute;
      width: 240px;
      height: 200px;
      left: -30px;
      background: url("../../assets/about-section/about-section-bg1.png") no-repeat;
      background-size: 241px 200px;
    }

    &-right {
      position: absolute;
      right: -30px;
      bottom: 0;
      width: 229px;
      height: 190px;
      background: url("../../assets/about-section/about-section-bg2.png") no-repeat;
      background-size: 262px 189px;
    }
  }
}