@import "../variables";
@import "../mixins";


.feedback-section {
  .section-icon {
    margin: 80px 0 50px;
  }

  @include has-test-shining {
    top: -40px;
    right: -25px;
    background-size: 80%;
  }

  @include has-text-underline {
    left: -20px;
    bottom: -25px;
    background-size: 80%;
  }

  .section-text {
    text-align: center;
    margin-top: 40px;
  }

  .feedback-form {
    label {
      color: $lightBlackColor;
      display: block;
      margin-top: 30px;
      font-size: 16px;
    }

    input, textarea {
      color: $greyColor;
      box-sizing: border-box;
      display: block;
      margin-top: 16px;
      padding: 16px 20px;
      width: 100%;
      background: $darkGreyColor;
      border: 0;
      border-radius: 6px;
    }

    textarea {
      height: 195px;
    }

    input[type='button'] {
      margin: 40px auto 72px;
      width: 260px;
      color: white;
      background: $orderButtonColor;
    }
  }
}