@import "variables";
@import "mixins";


.advantages-section {
  color: white;
  text-align: center;
  background: $greenColor;
  padding-bottom: 100px;

  @include has-test-shining {
    top: -22px;
    background-size: 70%;
  }

  @include has-text-underline {
    background-size: 80%;
  }

  .advantages-list {
    text-align: center;
    font-size: 14px;
    line-height: 36px;

    &__item {
      margin-top: 64px;
      text-align: center;

      &-image {
        padding: 20px;
        background: #9AAC9A;
        border-radius: 50%;
        width: 44px;
        height: 44px;
      }

      &-title {
        margin: 0 auto;
        width: 260px;
        font-size: 20px;
      }

    }

  }
}