@import "variables";

.footer {
  padding: 80px 0 0;
  background: $darkGreyColor;

  .footer-actions {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .order-link {
      padding: 16px 44px;
    }
  }

  ul {
    padding: 0 16px;
    margin-top: 88px;

    li {
      color: $blackTitleColor;
      margin-bottom: 40px;

      h4 {
        font-family: Circe, sans-serif;
        text-transform: uppercase;
        margin-bottom: 23px;
      }
    }
  }

  .warning {
    font-size: 12px;
    line-height: 22.5px;
    font-weight: 500;
    color: $greyColor;
    padding: 0 16px;
    margin: 35px 0 36px;
    text-align: center;
    text-transform: uppercase;
  }

  .copyright {
    color: $greyColor;
    border-top: 1px solid #7F8195;
    text-align: center;
    line-height: 21px;
    padding: 29px 16px;
  }

  .home-button {
    font-family: Circe, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding: 31px 0 22px;
    text-align: center;
    color: $greenColor;
    background: $lightGreenColor;
  }
}