@import "variables";
@import "mixins";


.influence-section {
  color: $greyTextColor;

  .section-icon {
    margin: 90px 0 50px;
  }

  .rounded-circle {
    position: absolute;
    background: $item-background;
    border-radius: 50%;
    top: -20px;
    left: 20px;
    width: 88px;
    height: 88px;
  }

  .section-title {
    position: relative;
    color: black;
    text-align: center;

    @include has-text-underline();
  }

  .description {
    text-align: center;
    line-height: 30px;
  }

  ol {
    margin: 85px 0 120px;
    counter-reset: section;
    list-style-type: none;
    padding-left: 20px;

    li {
      padding-left: 50px;
      position: relative;
      line-height: 30px;
      margin-top: 40px;
      margin-bottom: 40px;
      list-style: none;

      &:before {
        font-size: 18px;
        color: $greenColor;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        left: -20px;
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $item-background;
        counter-increment: section;
        content: counters(section, ".") " ";
      }
    }
  }
}