@import "variables";
@import "mixins";


.instagram-section {
  position: relative;
  background: $greenColor;
  color: white;

  .section-title {
    margin-top: 105px;
  }

  .green-leaf {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -90px;
    top: 180px;
    z-index: 1000;
    background: url("../assets/green-leaf.png");
    background-size: 100%;
  }


  @include has-test-shining {
    right: -30px;
    top: -30px;
    background-size: 60%;
  }

  @include has-text-underline{
    background-size: 80%;
    left: -5px;
    bottom: -25px;
  }

  .insta-link-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 18px;
    }

    a {
      margin-left: 12px;
      display: inline
    }
  }

  .photo-gallery {
    position: relative;
    width: 1000px;
    margin: 68px 0 90px;

    img {
      margin-right: 15px;
      width: 185px;
    }
  }
}