@import "variables";

.question-section {
  .has-text-shining:after {
    top: -40px;
    right: -25px;
    background-size: 80%;
  }

  .has-text-underline:before {
    bottom: -20px;
    right: -60px;
    background-size: 80%;
  }

  .section-subtitle {
    text-transform: uppercase;
  }

  ul {
    line-height: 30px;

    li {
      margin-top: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #DBDBDB;

      p {
        color: $greyTextColor;
      }
    }
  }
}