@import "variables";
@import "mixins";


.recommendations-section {
  .section-icon {
    margin: 110px 0 50px;
  }

  @include has-test-shining {
    background-size: 80%;
    top: -30px;
    right: -45px;
  }

  @include has-text-underline();

  .recommendations-list {
    margin-top: 85px;

    &__item {
      margin: 0 auto 20px;
      max-width: 430px;
      border-radius: 10px;
      padding: 54px 24px;
      background: $item-background;

      h4, p {
        margin: 0;
        font-size: 14px;
        line-height: 30px;
        color: $greyTextColor;
      }

      h4 {
        margin-bottom: 30px;
      }
    }
  }
}