@import "variables";
@import "mixins";

.usage-section {
  background: $greenColor;
  color: white;

  .section-title {
    margin-top: 85px;
  }

  @include has-test-shining {
    background-size: 80%;
    top: -25px;
    right: -20px;
  }

  @include has-text-underline {
    width: 280px;
    height: 25px;
    left: 30px;
    background-size: 100%;
  }

  ul {
    position: relative;
    margin-top: 80px;
    line-height: 30px;

    .misc-wrapper {
      padding: 0;
      margin: 59px 0;
      text-align: center;

      &:before {
        display: none;
      }
    }

    .background-wrapper-item {
      position: relative;
      padding: 0;
      width: 100%;
      max-width: 410px;
      margin: 85px auto;
      height: 260px;


      .usage-section-background-wrapper {
        position: absolute;
        height: 100%;
        width: 241px;
        left: -25px;
        background: url("../assets/common/blob.svg") no-repeat left;
        background-size: 241px 247px;
      }

      .usage-section-background {
        position: absolute;
        width: 334px;
        height: 100%;
        right: -30px;
        top: 40px;
        background: url("../assets/usage-section/usage-section-bg.png") no-repeat right;
        background-size: 334px 247px;
      }

      &:before {
        display: none;
      }
    }

    .background-wrapper-item-last {
      z-index: 1000;
      position: relative;
      padding: 0;
      width: 100%;
      max-width: 410px;
      margin: 85px auto;
      height: 274px;

      .usage-section-last-background-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        left: -16px;
        background: url("../assets/usage-section/usage-section-last-bg.png") no-repeat right;
        background-size: 381px 274px;
      }

      .usage-section-last-background {
        position: absolute;
        width: 263px;
        height: 100%;
        top: 80px;
        right: -20px;
        background: url("../assets/common/blob.svg") no-repeat;
        background-size: 263px 247px;
      }

      &:before {
        display: none;
      }
    }

    li {
      position: relative;
      margin-top: 20px;
      padding-left: 26px;

      &::before {
        top: 10px;
        left: 4px;
        position: absolute;
        display: inline-block;
        content: ' ';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $lightGray;
      }
    }
  }
}